.container {
  max-width: 1200px;
  margin: auto;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.custom-shadow {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.hover-blur:hover {
  filter: blur(2px);
}

.clicked:not(.border-4) {
  transform: scale(0.5);
}

.blur {
  filter: blur(2px);
}

.scale-90 {
  transform: scale(0.6);
}

