<div class="container mx-auto p-4">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-2xl font-bold mb-2">Loja Pokemon</h1>
    <label class="block text-gray-700 mb-4">Escolha a raridade do booster:</label>
  </div>
  <div class="mb-4 flex justify-center">
    <button
      *ngFor="let booster of boosters"
      [ngClass]="{
        'bg-gray-500': booster.rarity === 'Common',
        'bg-blue-500': booster.rarity === 'Rare',
        'bg-yellow-500': booster.rarity === 'LEGEND',
        'text-white': true,
        'py-2': true,
        'px-4': true,
        'm-2': true,
        'rounded': true,
        'hover:bg-gray-700': booster.rarity === 'Common' && !isLoading,
        'hover:bg-blue-700': booster.rarity === 'Rare' && !isLoading,
        'hover:bg-yellow-700': booster.rarity === 'LEGEND' && !isLoading,
        'pressed': selectedRarity === booster.rarity
      }"
      [disabled]="isLoading"
      (click)="selectRarity(booster.rarity)">
      {{ booster.name }} ($ {{ booster.price }})
    </button>
  </div>
  <div class="flex flex-col justify-center items-center" *ngIf="selectedRarity">
    <label class="block text-gray-700 mb-4">Escolha o tipo de booster:</label>
  </div>
  <div class="mb-4" *ngIf="selectedRarity">
    <div class="flex flex-wrap justify-center">
      <div
        *ngFor="let type of allowedTypes"
        class="m-2 relative"
        (mouseenter)="hoverType = type.type"
        (mouseleave)="hoverType = null">
        <img
          [src]="type.src"
          [alt]="type.alt"
          [title]="type.type"
          [class]="type.className"
          class="w-16 h-16 rounded-full cursor-pointer hover:shadow-lg p-2 custom-shadow transition-all duration-300"
          (click)="selectType(type.type)"
          [class.border-4]="selectedType === type.type"
          [class.border-black-500]="selectedType === type.type"
          [class.blur]="hoverType && hoverType !== type.type"
          [class.scale-90]="selectedType && selectedType !== type.type"
          [attr.disabled]="isLoading ? true : null">
      </div>
    </div>
  </div>
  <div class="flex align-middle justify-center mt-2" *ngIf="selectedRarity && selectedType">
    <button
      class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700"
      [disabled]="!selectedType || isLoading"
      (click)="buyBooster()">
      Comprar booster
    </button>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
    <div *ngFor="let card of cards$ | async" class="card bg-white p-4 rounded shadow cursor-pointer relative"
      (mouseenter)="hoveredCard = card"
      (mouseleave)="hoveredCard = null"
      (click)="showImage(card.images.large)">
      <img [src]="card.images.small" [alt]="card.name" class="w-full h-auto mb-2">
      <ng-container *ngIf="hoveredCard === card">
        <app-tooltip [card]="card"></app-tooltip>
      </ng-container>
    </div>
  </div>

  <app-card-modal
    [imageSrc]="selectedImage"
    [isVisible]="isModalVisible"
    (closeModal)="handleCloseModal()">
  </app-card-modal>
</div>
