<div class="flex justify-center items-center bg-default">
  <div class="relative">
    <img src="assets/pallet.jpg" alt="Pallet Town" class="w-full h-full max-size">
    <div class="absolute top-1-4 left-1-4 w-16 h-16 cursor-pointer" (click)="navigateTo('shop')"></div>
    <div class="absolute top-1-4 right-1-4 w-16 h-16 cursor-pointer" (click)="navigateTo('deck-manager')"></div>
    <div class="absolute bottom-1-4 left-1-2 transform -translate-x-1/2 w-custom-lg h-custom-lg cursor-pointer"
      (click)="navigateTo('tournament')"></div>
  </div>
</div>
