<header class="bg-gray-800 text-white p-4 flex justify-between items-center header-container">
  <div *ngIf="isAuthenticated" class="text-container">
    <img src="assets/loading/2.png" alt="Pokéball" class="pokeball" (click)="goHome()"/>
    <span class="text-xl font-bold">{{ trainerName }}</span>
    <span>{{ money | currency }}</span>
    <span>Total cards: {{ totalCards }}</span>

  </div>
  <button *ngIf="isAuthenticated" (click)="logout()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded" style="font-size: x-small;">Logout</button>
</header>
