.deck-stats {
  margin-bottom: 10px;
}

.deck-details {
  padding: 16px;
}

.type-stat {
  display: flex;
  align-items: center;
  padding: 5px;
}

.type-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 10px;
}

